<div class="row crm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"><img src="./assets/images/add.png" (click)="showDialog()" style="cursor:pointer;"/></div>
    <p-table [columns]="cols" [value]="companies" [paginator]="true" [rows]="10" >
        <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-company >
                    <tr>
                            <td><span style="text-decoration:underline;cursor:pointer;color:#b30059;font-weight:500;" (click)="showDialog2()">{{ company.name }}</span></td>
                            <td>{{company.address}}</td>
                            <!-- <td style="text-align:center;">
                                <a routerLink="/Content/SubJobs/SubJobsDetails/353867">
                                  <img [src]="task.jobImage" title="{{task.jobType}}">
                                </a>
                            </td> -->
                            <td>{{company.phoneNo }}</td>
                            <td>{{company.fax}}</td>
                            <td>{{company.billingaddress}}</td>
                            <td>{{company.salesrep}}</td>
                            <td style="text-align:center;"><img src="{{company.addemp}}" (click)="showDialog1()"/></td>
                    </tr>
                </ng-template>
    </p-table>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="New Company" [(visible)]="display" modal="modal" [responsive]="true" [width]="550">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Company Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Fax</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;"> 
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Address</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Billing Address</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <select style="width:100%;">
                                        <option>Alan Page</option>
                                        <option>Jennie Hart</option>
                                        <option>Josh Cunningham</option>
                                        <option>Jacob Francis</option>
                                    </select>
                                </div>
                            </div>
                    </div>
            </div>
            <p-footer style="float:right;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px 6px;">
                    <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                    <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </div>
            </p-footer>
        </p-dialog>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Add Employee" [(visible)]="display1" modal="modal" [responsive]="true" [width]="550">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Company Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Customer Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;"> 
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text" style="width:100%"/>
                                </div>
                            </div>
                    </div>
            </div>
            <p-footer style="float:right;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px 6px;">
                    <button type="button"  (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                    <button type="button" (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </div>
            </p-footer>
        </p-dialog>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
    <p-dialog header="Company Employees List" [(visible)]="display2" modal="modal" [responsive]="true" [width]="550">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 emp-list padding0" style="float:left;">
                <table>
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td>Stella Riley</td>
                           <td>3487656745</td>
                           <td>stella@gmail.com</td>
                       </tr>
                       <tr>
                           <td>Isaac Baldwin</td>
                           <td>5768775476</td>
                           <td>isaac@gmail.com</td>
                       </tr>
                       <tr>
                           <td>Glen	Parks</td>
                           <td>5678576568</td>
                           <td>glen@gmail.com</td>
                       </tr>
                       <tr>
                           <td>Devin Graves</td>
                           <td>5986984386</td>
                           <td>devin@gmail.com</td>
                       </tr>
                    </tbody>
                </table>
        </div>
        <p-footer style="float:right;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px 6px;">
                <!-- <button type="button"  (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button> -->
                <button type="button" (click)="display2=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </p-footer>
    </p-dialog>
</div>