
<div class="status-wall" >
   <div class="status-title"><img src="../assets/images/point-icon.png" style="margin-left:8px;">&nbsp; Status Wall </div>
   <div class="status-info">
      <div class="info-data" *ngFor="let wall of walls">
          <img src="../assets/images/point-icon.png">
          <div class="time-info">
              {{wall.title}}
          </div>
          <div class="info">
            <span class="main-title">{{wall.name}}</span>
            <span class="desc">{{wall.desc}}</span>
          </div>
      </div>
      <!--<div class="info-data">
          <img src="../assets/images/point-icon.png">
          <div class="time-info">
            11 Min Ago
          </div>
          <div class="info">
            <span class="main-title">Paul Edward</span>
            <span class="desc">Shared new information about projects</span>
          </div>
      </div>
      <div class="info-data">
          <img src="../assets/images/point-icon.png">
          <div class="time-info">
            11 Min Ago
          </div>
          <div class="info">
            <span class="main-title">Paul Edward</span>
            <span class="desc">Shared new information about projects</span>
          </div>
      </div>
      <div class="info-data">
          <img src="../assets/images/point-icon.png">
          <div class="time-info">
            11 Min Ago
          </div>
          <div class="info">
            <span class="main-title">Paul Edward</span>
            <span class="desc">Shared new information about projects</span>
          </div>
      </div>
      <div class="info-data">
          <img src="../assets/images/point-icon.png">
          <div class="time-info">
            11 Min Ago
          </div>
          <div class="info">
            <span class="main-title">Paul Edward</span>
            <span class="desc">Shared new information about projects</span>
          </div>
      </div>-->
   </div>
</div>