<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-head padding0">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 job-headLeft" style="padding-left:0px;">
              Milestone
            </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 job-headRight text-right">
              <span (click)="showDialog()"><img src="../assets/images/edit_icon.png"></span>
            </div> 
        </div>   -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-fullinfo milestone" style="height:auto;background:transparent;border:none;">
                 <!--<img src="../assets/images/job_view.png">-->
             <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Date of Loss</div>
               <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">01/06/2018</div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Date Received</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">01/15/2018</div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Date Contacted</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">01/10/2018</div>
             </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Arrived onsite</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">Yes</div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Work Authorization</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">Signed</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Estimate Uploaded</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">Uploaded</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Estimate Approved</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">Approved</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Assigned to Production or Into Production</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">Assigned to Production</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Target Start Date</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">02/28/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Start Date</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">04/01/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Target Completion Date</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">06/30/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">COC (Actual Completion Date)</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">08/12/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Date Invoiced</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">09/12/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Date Paid</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">09/20/2018</div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 milestone-row" style="float:left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 milestone-text padding0" style="float:left">Closed Date</div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 milestone-value padding0" style="float:left">12/30/2018</div>
              </div> -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;margin:0px 0px;border-bottom:1px solid #CCC;box-sizing:border-box;">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Date of Loss</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">01/06/2018</div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Date Received</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">01/15/2018</div>
                  </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Date Contacted</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">01/10/2018</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Arrived onsite</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">Yes</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Work Authorization</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">Signed</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Estimate Uploaded</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">Uploaded</div>
                    </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;margin:0px 0px;border-bottom:1px solid #CCC;box-sizing:border-box;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Estimate Approved</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">Approved</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Assigned to Production or Into Production</div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">Assigned to Production</div>
                    </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Target Start Date</div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">02/28/2018</div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Start Date</div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">04/01/2018</div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Target Completion Date</div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">06/30/2018</div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">COC (Actual Completion Date)</div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">08/12/2018</div>
                      </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Date Invoiced</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">09/12/2018</div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Date Paid</div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">09/20/2018</div>
                        </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;border-right:1px solid #CCC;box-sizing:border-box;">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Closed Date</div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">12/30/2018</div>
                          </div>
                    </div>
        </div>
     </div>

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Edit" [(visible)]="display" modal="modal" width="450" [responsive]="true">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Date of Loss</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Date Received</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Date of Contacted</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Arrived onsite</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Work Authorization</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Estimate Uploaded</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Estimate Approved</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Assigned To</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <select>
                            <option>Production</option>
                            <option>Into Production</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Target Start Date</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Start Date</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Target Completion Date</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">COC(Actual Completion Date)</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Date Invoiced</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                        <!-- <span style="margin-left:35px">{{date3|date}}</span> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Date Paid</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Closed Date</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <p-calendar 
                            [(ngModel)]="date3" 
                            [showIcon]="true">
                        </p-calendar> 
                        <!-- <span style="margin-left:35px">{{date3|date}}</span> -->
                    </div>
                </div>
            </div>
            <p-footer>
                <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-arrow-up"></i>&nbsp;Update</button>
                <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            </p-footer>
        </p-dialog>
    </div>