<div class="row">
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;margin-top:20px;">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Activity Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Type</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <select>
                                <option>Select</option>
                                <option>Call</option>
                                <option>T-Con</option>
                            </select>
                        </div>
                </div>
            </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Scheduled Date & TIme</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text"/>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Status</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <select>
                                <option>Select</option>
                                <option>Pending</option>
                            </select>
                        </div>
                </div>
            </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text"/>
                        </div>
                    </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Description</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <textarea style="height:80px;"></textarea>
                        </div>
                </div>
            </div>
       </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right action-btn" style="margin-top:20px;">
        <button class="sav" type="submit" ><span><img src="./assets/images/save.png"></span>Save File</button>
        <button class="cancel" type="submit" ><span><img src="./assets/images/cancel.png"></span>Cancel</button>
    </div>
</div>
</div>