<div class="financial">
  <div class="financial-left">
      <span><img src="../assets/images/finace.png"></span>
      <span>150</span>
     <div class="title-name">Financial</div>  
  </div>
  <div class="financial-right">
     <div class="financial-top">
       <span><img src="../assets/images/fin-icon1.png"/>&nbsp;Expenditure</span> 
       <span class="exp-count">52</span>
     </div>
     <div class="financial-bottom">
        <span><img src="../assets/images/fin-icon2.png"/>&nbsp;Revenue</span> 
        <span class="r-count">98</span> 
     </div>
  </div>
</div>